2024/inputs/1.txt
2024/utils/__pycache__/AocArgs.cpython-312.pyc
2024/utils/__pycache__/AocTester.cpython-312.pyc
.gitignore
2024/utils/__pycache__/AocController.cpython-312.pyc
2024/utils/__pycache__/Int2DArray.cpython-312.pyc
2024/.vscode/launch.json
2024/utils/__pycache__/Map2D.cpython-312.pyc
2024/utils/__pycache__/IList.cpython-312.pyc
2024/utils/__pycache__/List.cpython-312.pyc
2024/utils/__pycache__/IntMap2D.cpython-312.pyc
2024/utils/__pycache__/IndexedMap2D.cpython-312.pyc
2024/utils/__pycache__/IndexedList.cpython-312.pyc
2024/tests/1-2-1.out
2024/tests/1-2-2.out
2024/tests/1-2.in
2024/tests/2-2-1.out
2024/tests/2-2-2.out
2024/tests/2-2.in
2024/tests/3-3-1.out
2024/tests/3-3-2.out
2024/tests/3-3.in
2024/tests/4-2-1.out
2024/tests/4-2-2.out
2024/tests/4-2.in
2024/tests/5-2-1.out
2024/tests/5-2-2.out
2024/tests/5-2.in
2024/tests/4-2-1.out
2024/tests/4-2-1.out
2024/tests/6-2.in
2024/tests/6-2-2.out
2024/tests/6-2-1.out
2024/utils/List/__pycache__/IList.cpython-312.pyc
2024/utils/List/__pycache__/IndexedList.cpython-312.pyc
2024/utils/List/__pycache__/List.cpython-312.pyc
2024/utils/Map2D/__pycache__/IndexedMap2D.cpython-312.pyc
2024/utils/Map2D/__pycache__/IntMap2D.cpython-312.pyc
2024/utils/Map2D/__pycache__/Map2D.cpython-312.pyc
2024/tests/7-2.in
2024/tests/7-2-2.out
2024/tests/7-2-1.out
2024/utils/BinaryTree/__pycache__/BinaryTreeNode.cpython-312.pyc
2024/utils/BinaryTree/__pycache__/BinaryTree.cpython-312.pyc
2024/tests/8-2-1.out
2024/tests/8-2-2.out
2024/tests/8-2.in
2024/tests/9-2-1.out
2024/tests/9-2-2.out
2024/tests/9-2.in
2024/utils/Comparable/__pycache__/IComparable.cpython-312.pyc
2024/utils/LinkedList/__pycache__/ILinkedListNode.cpython-312.pyc
2024/utils/LinkedList/__pycache__/LinkedList.cpython-312.pyc
2024/utils/LinkedList/__pycache__/LinkedListNode.cpython-312.pyc
2024/utils/LinkedList/__pycache__/OrderedLinkedList.cpython-312.pyc
2024/utils/Node/__pycache__/INode.cpython-312.pyc
2024/utils/Node/__pycache__/Node.cpython-312.pyc
2024/tests/10-2-1.out
2024/tests/10-2.in
2024/tests/10-2-2.out
2024/tests/11-2-1.out
2024/tests/11-2.in
2024/tests/11-2-2.out
2024/tests/12-2-1.out
2024/tests/12-2.in
2024/tests/12-2-2.out
2024/utils/__pycache__/AocArgs.cpython-311.pyc
2024/utils/__pycache__/AocController.cpython-311.pyc
2024/utils/UnionFind/__pycache__/UnionFind.cpython-312.pyc
2024/utils/UnionFind/__pycache__/UnionFind.cpython-311.pyc
2024/utils/Map2D/__pycache__/Map2D.cpython-311.pyc
2024/utils/UnionFind/__pycache__/IUnionFind.cpython-311.pyc
2024/utils/UnionFind/__pycache__/IUnionFind.cpython-312.pyc
2024/tests/13-2-1.out
2024/tests/13-2-2.out
2024/tests/13-2.in
2024/tests/14-2-1.out
2024/tests/14-2-2.out
2024/tests/14-2.in
2024/tests/15-3-1.out
2024/tests/15-3-2.out
2024/tests/15-3.in
2024/utils/VisitorCoordinate/__pycache__/VisitorCoordinate.cpython-312.pyc
2024/utils/Map2D/__pycache__/CharMap2D.cpython-312.pyc
2024/tests/16-3-1.out
2024/tests/16-3-2.out
2024/tests/16-3.in
2024/tests/17-3-1.out
2024/tests/17-3-2.out
2024/tests/17-3.in
2024/tests/18-2.in
2024/tests/18-2-1.out
2024/tests/18-2-2.out
2024/tests/19-2-1.out
2024/tests/19-2.in
2024/tests/19-2-2.out
2024/tests/20-2-1.out
2024/tests/20-2-2.out
2024/tests/20-2.in
2024/utils/Map2D/__pycache__/MazeMap.cpython-312.pyc
2024/tests/21-2-1.out
2024/tests/21-2.in
2024/tests/21-2-2.out
2024/tests/22-3-1.out
2024/tests/22-3.in
2024/tests/22-3-2.out
2024/tests/23-2-1.out
2024/tests/23-2-2.out
2024/tests/23-2.in
2024/tests/24-2-1.out
2024/tests/24-2.in
2024/tests/24-2-1.in
2024/tests/25-2-1.in
2024/tests/25-2.in
2024/tests/25-2-1.out
2024/tests/24-2-2.out
2024/utils/BinaryTreeNode/__pycache__/BinaryTree.cpython-312.pyc
2024/utils/BinaryTreeNode/__pycache__/BinaryTreeNode.cpython-312.pyc
.gitignore
2024/utils/__pycache__/AocArgs.cpython-314.pyc
2024/utils/__pycache__/AocController.cpython-314.pyc
2024/utils/BinaryTreeNode/__pycache__/BinaryTreeNode.cpython-314.pyc
2024/utils/LinkedList/__pycache__/LinkedList.cpython-314.pyc
2024/utils/LinkedList/__pycache__/LinkedListNode.cpython-314.pyc
2024/utils/List/__pycache__/IList.cpython-314.pyc
2024/utils/List/__pycache__/IndexedList.cpython-314.pyc
2024/utils/List/__pycache__/List.cpython-314.pyc
2024/utils/Map2D/__pycache__/CharMap2D.cpython-314.pyc
2024/utils/Map2D/__pycache__/IndexedMap2D.cpython-314.pyc
2024/utils/Map2D/__pycache__/IntMap2D.cpython-314.pyc
2024/utils/Map2D/__pycache__/Map2D.cpython-314.pyc
2024/utils/Map2D/__pycache__/MazeMap.cpython-314.pyc
2024/utils/Node/__pycache__/INode.cpython-314.pyc
2024/utils/Node/__pycache__/Node.cpython-314.pyc
2024/utils/UnionFind/__pycache__/IUnionFind.cpython-314.pyc
2024/utils/UnionFind/__pycache__/UnionFind.cpython-314.pyc
2024/utils/VisitorCoordinate/__pycache__/VisitorCoordinate.cpython-314.pyc
2025/build/solution.exe
2025/src/Day03.o
2025/src/Day04.o
2025/src/Day05.o
2025/src/Day06.o
2025/src/Day07.o
2025/src/Day08.o
2025/src/Day09.o
2025/src/Day10.o
2025/src/Day11.o
2025/src/Day12.o
2025/src/main.o
2025/src/Day01/Day01.o
2025/src/Day01/SafeDial.o
2025/src/Day02/Day02.o
2025/src/Day02/RepeatIDValidator.o
2025/src/Tester/Tester.o
2025/src/utils/Array.o
2025/src/utils/FileReader.o
2025/src/utils/HashTable.o
2025/src/utils/Solution.o
2025/src/utils/SolutionArgs.o
2025/src/utils/SolutionFactory.o
2025/src/utils/StringSplitter.o
2025/tests/Day02/2-2.in
2025/tests/Day02/2-2-1.out
2025/tests/Day02/2-2-2.out
2025/tests/Day01/1-2.in
2025/tests/Day01/1-2-2.out
2025/tests/Day01/1-2-1.out
2025/src/Day03/JoltageCalculator.o
2025/src/Day03/Day03.o
2025/tests/Day01/2-1.out
2025/tests/Day01/2-2.out
2025/tests/Day01/2.in
2025/tests/Day02/2-1.out
2025/tests/Day02/2-2.out
2025/tests/Day02/2.in
2025/tests/Day03/2-1.out
2025/tests/Day03/2-2.out
2025/tests/Day03/2.in
2025/src/utils/StringSplitter.d
2025/src/utils/SolutionFactory.d
2025/src/utils/SolutionArgs.d
2025/src/utils/Solution.d
2025/src/utils/Map.d
2025/src/utils/Hasher.o
2025/src/utils/Map.o
2025/src/utils/Hasher.d
2025/src/utils/HashableCoordinate.o
2025/src/utils/HashableCoordinate.d
2025/src/utils/FileReader.d
2025/src/utils/Coordinate.o
2025/src/utils/Coordinate.d
2025/src/Tester/Tester.d
2025/src/Day04/PaperRollMap.o
2025/src/Day04/PaperRollMap.d
2025/src/Day04/Day04.o
2025/src/Day04/Day04.d
2025/src/Day03/JoltageCalculator.d
2025/src/Day03/Day03.d
2025/src/Day02/RepeatIDValidator.d
2025/src/Day02/Day02.d
2025/src/Day01/SafeDial.d
2025/src/Day01/Day01.d
2025/src/main.d
2025/src/Day12.d
2025/src/Day11.d
2025/src/Day10.d
2025/src/Day09.d
2025/src/Day08.d
2025/src/Day07.d
2025/src/Day06.d
2025/src/Day05.d
2025/src/utils/ComparableInteger.d
2025/src/utils/ComparableInteger.o
2025/src/utils/Integer.d
2025/src/utils/Integer.o
2025/tests/Day04/2-1.out
2025/tests/Day04/2-2.out
2025/tests/Day04/2.in
2025/src/utils/ComparableInteger.d
2025/src/Day05/Day05.d
2025/src/Day05/Day05.o
2025/src/Day05/DigitBound.d
2025/src/Day05/DigitBound.o
2025/src/Day05/IngredientLookup.d
2025/src/Day05/IngredientLookup.o
2025/src/utils/DigitString.o
2025/src/utils/DigitString.d
2025/src/utils/Range.d
2025/src/utils/Range.o
2025/tests/Day05/2-1.out
2025/tests/Day05/2-2.out
2025/tests/Day05/2.in
2025/tests/Day06/2.in
2025/tests/Day06/2-2.out
2025/tests/Day06/2-1.out
2025/src/Day06/Day06.o
2025/src/Day06/Day06.d
2025/src/Day06/CephalopodMath.o
2025/src/Day06/CephalopodMath.d
2025/src/Day05/IngredientInventory.o
2025/src/Day05/IngredientInventory.d
2025/src/Day07/Day07.d
2025/src/Day07/Day07.o
